{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Мои данные и записи{% endblock %}

{% block content %}
<div class="all-service">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <h4>{{ userQuery.business }}</h4>
                {% if userQuery.isActive %}
                <p>Статус: <b class="green-link">Активная заявка</b></p>
                {% else %}
                <p>Статус: <b class="text-danger">Отменен</b></p>
                {% endif %}
                <p>Выбранная услуга: <b>{{ userQuery.service }}</b></p>
                <p>Мастер: <b>{{ userQuery.master }}</b></p>
                <p>Дата и время записи: <b>{{ userQuery.recordDate }}</b></p>
                <a href="{% url 'deleteUserQuery' pk=userQuery.pk %}" class="btn btn-outline-danger btn-lg w-100 mb-2">Удалить запись</a>
                {% if userQuery.isActive %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-lg w-100">Отменить запись</button>
                </form>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success btn-lg w-100">Восставновить запись</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
