@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Manrope', sans-serif;
}
.logo {
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #323232;
    text-decoration: none;
}
.logo:hover {
    color: #323232;
}
.header-link {
    padding: 8px;
    text-transform: lowercase;
    text-decoration: none;
    color: #848484;
    transition: 0.3s ease-in-out;
}
.avatar-link {
    margin: 8px;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    padding: 16px 18px;
    border-radius: 50%;
    background: #9c00ff;
    color: #fff;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-weight: 900;
}
.avatar-link:hover {
    background: #563d7c;
    color: #fff;
}
.header-link:hover {
    color: #323232;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: #9c00ff;
    color: #fff;
    font-weight: 900;
    text-align: center;
    border-radius: 50%;
    font-size: 32px;
    margin-bottom: 20px;
}
.letters {
    position: relative;
    top: 27px;
}
.green-link {
    color: #1cd44c;
    text-decoration: none;
}
.green-link:hover {
    color: #18bc42;
}
.primary-button {
    border: none;
    margin-top: 5px;
    display: inline-block;
    background-color: #1cd44c;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    text-transform: lowercase;
    padding: 8px 35px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.primary-button:hover {
    background-color: #18bc42;
    color: #fff;
}
.main {
    display: flex;
    align-items: center;
    height: 100vh;
}
.main h1 {
    margin-bottom: 25px;
    padding-top: 30px;
    font-weight: 700;
}
.image {
    width: 100%;
}
.about {
    padding-top: 220px;
    padding-bottom: 90px;
}
.categories {
    padding: 90px 0;
}
.categories h2 {
    margin-bottom: 30px;
}
.category-card {
    display: block;
    text-decoration: none;
    padding: 20px;
    background-color: #f5f5f5;
    color: #848484;
    border-radius: 10px;
    height: 100%;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.category-card h4 {
    font-size: 16px;
}
.category-card:hover {
    background-color: #e1fedc;
    color: #848484;
}
.icon {
    color: #63d54f;
    font-size: 32px;
    margin-bottom: 10px;
}
.faq {
    padding: 90px 0;
}
.faq .title {
    text-align: center;
    margin-bottom: 20px;
}
.small-container {
    width: 70%;
    margin: 0 auto;
}
.sign-up, .login, .all-service {
    padding-top: 160px;
    padding-bottom: 90px;
}
.filter-list {
    list-style: none;
}
@media screen and (max-width: 950px) {
    .main {
        padding-top: 220px;
        height: 100%;
        text-align: center;
    }
    .main .image {
        display: none;
    }
    .small-container {
        width: 100%;
    }
    .avatar-link {
        background: none;
        width: 100%;
        display: block;
        height: 0;
        padding: 8px;
        text-transform: lowercase;
        text-decoration: none;
        color: #848484;
        transition: 0.3s ease-in-out;
        visibility: hidden;
        content: " ";
    }
    .avatar-link:before {
        content: "Профиль";
        visibility:visible;

    }
}