{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static './img/icon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="navbar navbar-expand-lg bg-white pt-4 pb-4 fixed-top border-bottom">
        <div class="container">
            <a class="logo" href="#">subscribe.almaty</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="header-link" href="{% url 'homePage' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="header-link" href="{% url 'allService' %}">Все услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="header-link" href="{% url 'aboutPage' %}">О проекте</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="avatar-link" href="{% url 'userDataAndQueries' %}">{{ user.first_name|make_list|first }}{{ user.last_name|make_list|first }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="header-link" href="{% url 'loginPage' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="header-link" href="{% url 'signUp' %}">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="border-top pt-4">
        <div class="container">
            <ul class="nav justify-content-center pb-3 mb-2">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Категории</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Все услуги</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Войти</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Регистрация</a></li>
            </ul>
            <p class="text-center text-muted">© 2023 <b>subscribe.almaty</b>. Разработчик: Есімжан Шыңғыс</p>
        </div>
    </footer>

    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/owl.carousel.min.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static './js/carousel.js' %}"></script>
</body>

</html>